<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="text-center">User Profile</h1>
            </div>
            <div class="panel-body">
                <form action="/signin/profile" method="post" class="form-inline">
                    <div class="form-group">
                        <label for="">Email:</label>
                        <input type="text" class="form-control" value="{{user.email}}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>