<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="text-center">Sign up</h1>
            </div>
            <div class="panel-body">
                {{#if hasError}}
                    {{#each messages}}
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <p class="text-center alert alert-danger">{{this}}</p>
                            </div>
                        </div>
                    {{/each}}
                {{/if}}
                <form action="/user/signup" method="post">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password:</label>
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Login">
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <p>do you have an account?<span><a href="/user/signin">Sign in!</a></span></p>
            </div>
        </div>
    </div>
</div>