<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="text-center">Sign in</h1>
                {{#if hasError}}
                    {{#each messages}}
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="alert alert-danger">
                                    <p class="text-center">{{this}}</p>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
            <div class="panel-body">
                <form action="/user/signin" method="post">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Login">
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <p>create account click <span><a href="/user/signup">Sign up!</a></span></p>
            </div>
        </div>
    </div>
</div>